node_modules/
.env
.DS_Store

docs/
code1.html
code2.html
code3.html
code4.html
code5.html
code6.html
code7.html
code8.html
code9.html
read_pdf.js
read_pdf2.js
read_pdf3.js
read_pdf4.js
pdf_content.txt
prompt.pdf
scripts/pdf_content.txt
